body {
    background-color : rgb(0,0,0);
    font-family : "Times New Roman";
}

h1 {
    color : grey;
}


#TitleScreen{
    position : relative;
    margin : 0 auto;    
    top : 50px;
    width : 100%;

    
    text-align : center;
}
#TitleScreen.p {
    color : grey;
    font-size : 2em;
}

#Gallows {
    width : 400px;
    height : 400px;
    margin : auto;
}

#Container {
    margin : auto;
    width : 600px;
}
#Game {
    width :100%;
    height:100%;
}

#Play {
    display:inline-block;
    vertical-align:top;
    position:absolute;
}
#PlayButton {
    background-color:transparent;
    background-repeat:no-repeat;
    border:none;
    overflow: hidden;
    outline:none;
}
#GallowImage {
    width : 45%;
    height : 500px;
    border : solid;
    border-color:white;
    float:left;
    text-align:center;
}
#Underlines {
    border : solid;
    border-color:white;
    position:relative;
    float:right;
    width : 45%;
    height : 100px;
    top:400px;
}
#Guess{
    position:absolute;
    width:99%;
    height:350px;
        bottom:0;
    border : solid;
    border-color:white;
}

.GenericButton {
    background-color : black;
    border : solid;
    border-color : rgb(100, 100, 100);
    border-radius : 10px;
    color : rgb(175, 175, 175);
    width : 180px;
    height : 40px;
}

.GenericButton:hover {
    background-color : rgb(50, 50, 50);
}
.GenericButton:focus {
    background-color : rgb(40, 40, 40);
}

.MenuBar {
    width : 290px;
    display : inline-block;
    vertical-align : top;
}
